@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.backface-hidden {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.custom-scrollbar::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar-corner {
  width: 16px;
  height: 12px;
  background: #efefefcc;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #efefefcc;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar-corner {
  width: 16px;
  height: 12px;
  background: #efefefcc;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #efefefcc;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: content-box currentColor;
  border: 2px solid transparent;
  color: #bfbfbf;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  color: #bfbfbf;
}

.custom-scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.custom-scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
